<div class="infinite-scroll__data visibility-hidden">
  <input type="hidden" value="{{ next_url }}" data-next-url>
  <input type="hidden" value="{{ count_pages }}" data-total-pages>
  <input type="hidden" value="{{ current_page }}" data-current-page>
</div>
<span class="infinite-scroll__loading js-infinite-scroll">
  {%- render 'icon-loading' -%}
</span>