.card-horizontal-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  border-radius: 0.6rem;
  padding: 1.6rem 2rem 1.6rem;
  text-decoration: none;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .card-horizontal-wrapper {
    padding: 2rem 4rem 2rem 2rem;
  }
}
.card-horizontal-wrapper:hover .card-horizontal__title a {
  color: rgb(var(--color-accent));
}
.card-horizontal-wrapper .price--on-sale {
  flex-direction: column;
}
.card-horizontal-wrapper .price--on-sale .price__sale {
  flex-direction: column;
  align-items: flex-end;
}
.card-horizontal-wrapper .price dd {
  text-align: right;
}
.card-horizontal-wrapper .price dd:not(:last-child) {
  margin: 0;
}
.card-horizontal-wrapper .price-item,
.card-horizontal-wrapper .price .price__sale .price-item--regular {
  text-align: right;
}
.card-horizontal-wrapper:hover .card-horizontal__link {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.card-horizontal__image {
  position: relative;
  flex-shrink: 0;
  min-width: 6rem;
  max-width: 6rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
.card-horizontal__image svg {
  background-color: rgb(255, 255, 255);
}
.card-horizontal__information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  flex-grow: 1;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}
.card-horizontal__information .subtitle {
  color: rgb(113, 113, 113);
}
.card-horizontal__information-group {
  flex-grow: 1;
}
.card-horizontal__title {
  position: relative;
  display: block;
  margin: 0;
  color: rgb(var(--color-foreground-title));
  z-index: 2;
  line-height: 0;
}
.card-horizontal__title a {
  display: inline;
  font-family: var(--font-heading-card-family);
  font-size: calc(var(--font-heading-card-scale) * 1rem);
  font-style: var(--font-heading-card-style);
  font-weight: var(--font-heading-card-weight);
  line-height: var(--font-body-line-height);
  word-break: break-word;
  z-index: 2;
  letter-spacing: -0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--duration-long);
  transition-timing-function: ease;
}
.card-horizontal__title svg {
  margin-left: 0.8rem;
  color: currentColor;
  transition: opacity var(--duration-long) ease;
  opacity: 0;
}
.card-horizontal__title:hover svg {
  opacity: 1;
}
.card-horizontal__subtitle {
  font-size: 1rem;
  margin-bottom: 0;
}
.card-horizontal__link {
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  margin: 0;
  padding: 0.5rem 1rem;
  width: auto;
  height: auto;
  min-width: 6.4rem;
  min-height: unset;
  background: none;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(var(--color-base-text), 1);
  background-color: rgb(var(--color-background));
  border: none;
  border-radius: 3rem;
  box-shadow: none;
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
  z-index: 3;
  pointer-events: all;
  text-align: center;
  transition: transform var(--duration-short);
}
.card-horizontal__link.loading span {
  opacity: 0;
}
.card-horizontal__link .loading-overlay__spinner {
  width: 1.6rem;
  height: 1.6rem;
}
.card-horizontal__link span {
  transition: opacity var(--duration-short);
}
.card-horizontal__link:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(var(--color-background));
  border-radius: 3rem;
  z-index: -1;
  transition: transform var(--duration-default) ease;
}
.card-horizontal__link:hover::after {
  transform: scale(1.1);
}
.card-horizontal__description {
  margin-top: 1rem;
  font-family: var(--font-text-card-family);
  font-style: var(--font-text-card-style);
  font-weight: var(--font-text-card-weight);
  font-size: calc(var(--font-text-card-scale) * 1rem);
  line-height: var(--font-body-line-height);
}
.card-horizontal__sku {
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
  margin: 0 0 0.8rem;
  transition: var(--duration-default);
}