.totals {
  display: flex;
}

.totals > * {
  font-family: var(--font-heading-card-family);
  font-style: var(--font-heading-card-style);
  font-weight: var(--font-heading-card-weight);
  font-size: 1.6rem;
  margin: 0;
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 0.5rem;
}

.totals__subtotal-value {
  color: rgba(var(--color-foreground));
}

.cart__ctas + .totals {
  margin-top: 2rem;
}