.mobile-drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0;
    height: 100%;
    z-index: 101;
    max-width: calc(100vw - 40px);
    width: 100%;
    opacity: 1;
    visibility: hidden;
    transition: opacity .5s, transform 500ms ease,visibility 500ms ease;
    background-color: #fff;
    left: 0;
    -webkit-transform: translate(-101%);
    transform: translate(-101%);
}
@media (min-width: 551px){
    .mobile-drawer {
        max-width: 370px;
    }
}


body.menu_open .mobile-drawer {
    opacity: 1;
    visibility: visible;
    transform: translateZ(0);
}


body.menu_open .background-overlay {
    opacity: 1;
    visibility: visible;
    z-index: 99;
}

.open_mobile_nav{
    border: 0;
    padding: 0;
    background-color: transparent;
}

.mobile-wrapper{
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 140px;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-menu-tab {
    background-color: #000;
}
.nav-menu-tab .menu-tab {
    display: flex;
    align-items: center;
    font-size: 0;
    letter-spacing: 0;
}

.custom-mobile-menu .nav-menu-tab .menu-tab {
    border-bottom: 1px solid #e6e6e6;
}


.nav-mobile-menu-tab .menu-tab .item.is-active .link {
    pointer-events: none;
}


.nav-menu-tab .menu-tab .link {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px 9px;
    min-height: 40px;
    color: #fff;
    opacity: 0.3;
    text-decoration: none;
}

.nav-mobile-menu-tab .menu-tab .item.is-active .link {
    background: #000000;
    color: #ffffff;
    opacity: 1;
}



.mobile-menu-close {
    position: absolute;
    top: 0;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 0;
    z-index: 10;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    color: #fff;
    cursor: pointer;
}

.mobile-menu-close svg{
    width: 20px;
    pointer-events: none;
}
.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-menu-mobile {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    letter-spacing: 0;
}

.left, .text-left {
    text-align: left;
}


[data-navigation-mobile] .is-hidden {
    display: none!important;
    border-bottom: none;
}
.menu-lv-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

[data-navigation-mobile] .menu-lv-item {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    position: relative;
}
.site-nav-mobile .list-menu-mobile .menu-lv-item {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}

.menu-lv-1__action {
    padding: 11px 20px 12px;
    display: block;
    position: relative;
    text-decoration: none;
}

[data-navigation-mobile] .menu-lv__flex {
    display: flex!important;
    align-items: center;
    width: 100%;
}

#MenuMobileListSection-menu .menu-lv-1__action {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
}

body:not(.safari) a {
    transition: all ease .3s;
}

[data-navigation-mobile] .custom-icon {
    display: inline-block;
    vertical-align: middle;
    top: unset;
}

[data-navigation-mobile] .custom-icon svg {
    display: block;
    position: relative;
    top: unset;
    left: unset;
    bottom: unset;
    right: unset;
    width: 30px;
    height: 30px;
    pointer-events: auto;
    transform: unset;
}

#MenuMobileListSection-menu .custom-icon svg {
    width: 24px;
    height: 24px;
}

[data-navigation-mobile] .custom-icon img {
    display: block;
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
}

[data-navigation-mobile] .custom-icon.style-circle img {
    border-radius: 50%;
}


#MenuMobileListSection-menu .custom-icon img {
    width: 100%;
    height: 100%;
    max-width: 35px;
    max-height: 35px;
}
.menu-lv-1__action .text {
    text-decoration-thickness: .2rem!important;
}
.menu-lv-item .text {
    transition: text-decoration 100ms ease;
}

[data-navigation-mobile] .custom-icon+.text {
    margin-left: 10px;
}





.menu-dropdown {
    max-height: 70vh;
    visibility: hidden;
    pointer-events: none;
    box-shadow: 0 6px 27px #0003;
    background-color: var(--bg-white);
}

.mobile-drawer .menu-dropdown {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    z-index: 1;
    visibility: hidden;
    box-shadow: none;
    transition: opacity 500ms ease,transform 500ms ease,visibility 500ms ease;
    background: #fff;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    padding-bottom: 100px;
    -ms-transform: translate3d(-101%,0,0);
    -webkit-transform: translate3d(-101%,0,0);
    transform: translate3d(-101%,0,0);
}

.custom-mobile-menu [data-navigation-mobile] .menu-lv__dropdownmenu, .custom-mobile-menu [data-navigation-mobile] .site-nav-list>.menu-lv__dropdownmenu-2 {
    position: fixed;
    top: 0;
    left: 0;
}

.site-nav-mobile .list-menu-mobile .menu-lv-item.is-open>.menu-dropdown, 
.site-nav-mobile .menu-dropdown__wrapper .site-nav.is-open .site-nav-sub,
.site-nav-mobile .list-menu-mobile .menu-lv-1.is-open .list-menu--disclosure-1,
.site-nav-mobile .list-menu-mobile .menu-lv-2.is-open .list-menu--disclosure-2 {
    opacity: 1!important;
    z-index: 100;
    visibility: visible;
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translateZ(0);
    overflow-y: auto;
    pointer-events: inherit;
}



[data-navigation-mobile] .icon-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    pointer-events: none;
}

.menu-lv-item.menu-lv-1 .icon-dropdown {
    display: none;
}

.mobile-drawer .site-nav-mobile .icon-dropdown {
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    position: absolute;
    transform: none;
    pointer-events: none;
}

.icon {
    fill: #232323;
    stroke: transparent;
}

.menu-lv-item .icon {
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

[data-navigation-mobile] .icon {
    left: 50%;
    right: unset;
    width: 15px;
    height: 15px;
    transform: translate(-50%,-50%);
}

[data-navigation-mobile].menu-custom-mobile .menu-lv-item .icon {
    top: calc(50% - 1px);
}


.menu-lv-2, .menu-lv-3 {
    width: 100%;
    padding: 0 20px 0 0;
}

.nav-title-mobile {
    display: none;
}

.mobile-drawer .nav-title-mobile {
    font-size: 14px;
    text-transform: uppercase;
}

.mobile-drawer .nav-title-mobile {
    font-size: 14px;
    font-weight: 700;
    line-height: 22;
    letter-spacing:  .05em;
    text-transform: uppercase;
    display: block;
    position: relative;
    padding: 14px 20px;
    background: #f8f8f8;
    cursor: pointer;
}

[data-navigation-mobile] .menu-lv-item {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    position: relative;
}

[data-navigation-mobile] .menu-lv-2, [data-navigation-mobile] .menu-lv-3 {
    display: block;
    padding-right: 0;
}

[data-navigation-mobile] .nav-title-mobile {
    position: relative;
    padding: 13px 20px;
    cursor: pointer;
}

.mobile-drawer .site-nav-mobile .list-menu-mobile .menu-lv-item {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}

.mobile-drawer .site-nav-mobile[data-navigation-mobile] .list-menu-mobile .menu-lv__dropdownmenu .menu-lv-item:last-child, 
.mobile-drawer .site-nav-mobile[data-navigation-mobile] .list-menu-mobile .menu-lv__dropdownmenu .menu-lv-item.menu-lv-2 {
    border-bottom: 0;
}


[data-navigation-mobile] .icon-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    pointer-events: none;
}

.menu-lv-item.menu-lv-1 .icon-dropdown {
    display: none;
}

.mobile-drawer .site-nav-mobile .icon-dropdown {
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    position: absolute;
    transform: none;
    pointer-events: none;
}

.mobile-drawer .nav-title-mobile .icon-dropdown {
    right: inherit;
    left: 6px;
}

.site-nav-mobile .list-menu-mobile .menu-lv-item>.menu-dropdown .icon-dropdown, 
.site-nav-mobile .menu-dropdown__wrapper .site-nav .site-nav-sub .icon-dropdown, 
.site-nav-mobile .list-menu-mobile .menu-lv-1 .list-menu--disclosure-1 .icon-dropdown,
 .site-nav-mobile .list-menu-mobile .menu-lv-2 .list-menu--disclosure-2 .icon-dropdown {
    display: none!important;
}

.site-nav-mobile .list-menu-mobile .menu-lv-item.is-open>.menu-dropdown .icon-dropdown, 
.site-nav-mobile .menu-dropdown__wrapper .site-nav.is-open .site-nav-sub .icon-dropdown, 
.site-nav-mobile .list-menu-mobile .menu-lv-1.is-open .list-menu--disclosure-1 .icon-dropdown, 
.site-nav-mobile .list-menu-mobile .menu-lv-2.is-open .list-menu--disclosure-2 .icon-dropdown {
    display: block!important;
}


.menu-lv-2__action, .menu-lv-3__action {
    padding: 8px 0;
    border-bottom: 1px solid #ebebeb;
}

.menu-lv-2__action, .menu--mobile-lv-2__action {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.site-nav-mobile .menu-lv-2__action, .site-nav-mobile .menu-lv-3__action {
    padding: 14px 20px;
    border: none;
}

[data-navigation-mobile] .menu-lv-2__action, 
[data-navigation-mobile] .menu-lv-3__action {
    display: block;
    padding: 14px 20px;
    border-bottom: none;
    width: 100%;
    text-decoration: none;
}

[data-navigation-mobile] .nav-title-mobile .menu-lv-2__action,
 [data-navigation-mobile] .nav-title-mobile .menu-lv-3__action {
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

#MenuMobileListSection-menu .menu-lv-2__action,
#MenuMobileListSection-menu .menu-lv-3__action {
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 24px;
}

.mobile-drawer .nav-title-mobile .icon-dropdown svg {
    width: 25px;
    height: 25px;
    margin-top: -3px;
}


.mobile-drawer svg {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    stroke: currentColor;
    width: 1rem;
    height: 1rem;
    transition: var(--anchor-transition);
}


#MenuMobileListSection-menu .nav-title-mobile .menu-lv-2__action .text, 
#MenuMobileListSection-menu .nav-title-mobile .menu-lv-3__action .text {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.image-zoom {
    overflow: hidden;
    position: relative;
}

.adaptive_height {
    display: block;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.adaptive_height img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    object-fit: contain;
    object-position: center center;
    transition: opacity .5s;
}

.image-zoom img {
    will-change: transform;
    transition: transform .64s ease;
}

.mobile-drawer .site-nav-mobile[data-navigation-mobile] .list-menu-mobile .menu-lv__dropdownmenu .menu-lv-item:last-child, 
.mobile-drawer .site-nav-mobile[data-navigation-mobile] .list-menu-mobile .menu-lv__dropdownmenu .menu-lv-item.menu-lv-2 {
    border-bottom: 1px solid #e6e6e6;
}

[data-navigation-mobile] .menu-lv__dropdownmenu-3 {
    right: unset;
    top: unset;
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    height: auto;
}

.custom-mobile-menu [data-navigation-mobile] .menu-lv__dropdownmenu, .custom-mobile-menu [data-navigation-mobile] .site-nav-list>.menu-lv__dropdownmenu-2 {
    position: fixed;
    top: 0;
    left: 0;
}

.custom-mobile-menu [data-navigation-mobile] .menu-lv__dropdownmenu.menu-lv__dropdownmenu-3 {
    position: static;
}

[data-navigation-mobile] .grid-menu {
    display: block;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 20px;
    padding-right: 20px;
}

[data-navigation-mobile] .grid-menu {
    margin-left: -5px;
    margin-right: -5px;
}

[data-navigation-mobile] .grid-menu .menu-lv-item {
    display: inline-block;
    vertical-align: top;
    width: 33.3333333%!important;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: none!important;
    overflow: unset!important;
}

[data-navigation-mobile] .grid-menu .menu-lv-item {
    padding-left: 5px;
    padding-right: 5px;
}

.mobile-drawer .site-nav-mobile .list-menu-mobile .menu-lv-item {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}
[data-navigation-mobile] .grid-menu .grid-menu__item {
    display: block;
    padding: 0;
}

[data-navigation-mobile] .custom-image+.text {
    display: block;
    margin-top: 5px;
}

[data-navigation-mobile] .custom-image img {
    display: block;
    object-position: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

#MenuMobileListSection-menu .custom-image img {
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
}

#MenuMobileListSection-collection .menu-lv-2__action,
 #MenuMobileListSection-collection .menu-lv-3__action {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 22px;
}


#MenuMobileListSection-collection .nav-title-mobile .menu-lv-2__action .text,
#MenuMobileListSection-collection .nav-title-mobile .menu-lv-3__action .text {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 22px;
}