.textimage-card {
    position: relative;
    margin-top: 20px;
    transition: 0.3s ease;
}
.textimage-card-text,
.textimage-card-heading,
.textimage-card-heading a {
    color: #FFF;
    font-family: 'Gilroy';
    font-size: 28px;
    font-weight: 700;
    line-height: 115.5%;
    text-decoration: none;
}
.no-margin .textimage-card-text,
.textimage-card-text {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-top: 18px;
}
.textimage-card-btn span {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.textimage-card-btn svg {
    margin-left: 12px;
}
.textimage-card-btn {
    margin-top: 24px;
    background: #fff;
    color: #000;
    border-radius: 30px;
    text-decoration: none;
    height: 40px;
    display: inline-flex;
    padding: 0 24px !important;
    transition: 0.3s ease;
}

.textimage-card-btn:hover{
    background: rgb(var(--color-accent));
    color: #fff;
    transition: 0.3s ease;
}



.textimage-card-content-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.textimage-card:hover .textimage-card-btn{
    background: rgb(var(--color-accent));
    color: #fff;
    transition: 0.3s ease;
}

.textimage-card-content {
    max-width: 383px;
}

.textimage-card-media {
    position: relative;
    border-radius: 30px;
    overflow: hidden;

}

.textimage-card-media::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    transition: 0.3s ease;

    background-color: #0000;
    opacity: 0;
}
.textimage-card:hover{
    transition: 0.3s ease;
}
.textimage-card:hover .textimage-card-media::before{
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
    opacity: 1;
}

.textimage-card .textimage-card-media  img{
    transition: 0.3s ease;
}
.textimage-card:hover  .textimage-card-media  img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: 0.3s ease;
}
@media (max-width: 1080px) {
    .textimage-card-heading,
    .textimage-card-heading a {
        font-size: 36px;
    }
}
@media (max-width: 991px) {
    .textimage-card-heading,
    .textimage-card-heading a {
        font-size: 26px;
    }
    .textimage-card-btn span ,
    .no-margin .textimage-card-text,
    .textimage-card-text {
        font-size: 14px;
    }
    .textimage-card-btn {
        height: auto;
        padding: 5px 10px
    }

    .textimage-card-btn  span{
        font-size: 10px;
    }
    .no-margin .textimage-card-text, 
    .textimage-card-text {
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .textimage-card-heading,
    .textimage-card-heading a {
        font-size: 18px;
    }
}

