.footer {
  position: relative;
  z-index: 8;
  background-color: #D5DEDB;
}

.footer .link {
  font-family: var(--font-footer-menu-family);
  font-style: var(--font-footer-menu-style);
  font-weight: var(--font-footer-menu-weight);
  font-size: var(--font-footer-link-size);
}

.footer--border {
  border-top: 1px solid rgba(var(--color-border-input));
}

.footer__content-top {
  padding-bottom: 5rem;
  padding-top: 5rem;
  display: block;
}

.footer__blocks-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (mix-width: 990px) {
  .footer__blocks-wrapper {
    gap: 1.8rem;
  }
}

.footer-block--menu {
  display: none;
}

.footer__text {
  font-size: 1.2rem;
}

.footer__copyright {
  margin-top: 1.6rem;
}

.footer__copyright > * {
  font-size: 1.3rem;
  color: rgb(var(--color-foreground-secondary));
}

.footer__bottom-menu .link {
  font-size: var(--font-footer-bottom-link-size);
}

@media screen and (min-width: 990px) {
  .footer__content-top {
    padding-block: 6.4rem;
  }
  .footer__blocks-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }
  .footer-block--menu {
    flex: none;
    display: block;
  }
  .footer-block--logo,
  .footer__copyright {
    width: 20rem;
    max-width: 100%;
  }
  .footer__copyright {
    margin-right: 1rem;
  }
  .footer-block--logo:last-child {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-block--logo:first-child {
    flex: none;
  }
  .footer__blocks-wrapper {
    gap: 3rem 3rem;
  }
}
@media screen and (min-width: 1360px) {
  .footer__blocks-wrapper {
    gap: 3rem 6.4rem;
  }
}
.footer__logo-link {
  text-decoration: none;
  word-wrap: break-word;
  max-width: 100%;
}

.footer__logo {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer__logo-link span {
  text-transform: var(--font-header-menu-text-transform);
}

.footer__content-middle-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 0.2rem solid rgb(var(--color-border));
}

.footer__content-middle-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.footer__bottom-menu .list-menu__item {
  padding: 0;
  font-size: var(--font-footer-bottom-link-size);
}

.footer__bottom-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1.8rem;
  margin-top: 0;
}

.footer__column--localization {
  width: 100%;
  max-width: 100%;
  flex: none;
}
.footer__column--payment .label, .footer__column--social .label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 13px;
  color: rgb(var(--color-foreground-secondary));
}

@media screen and (min-width: 1200px) {
  .footer__column--payment + .footer__column--social {
    position: relative;
    padding-left: 3.6rem;
    width: 19.6rem;
    max-width: 19.6rem;
  }
  .footer__column--payment + .footer__column--social::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.2rem;
    height: 100%;
    background-color: rgb(var(--color-border));
  }
}
@media screen and (min-width: 1500px) {
  .footer__column--payment + .footer__column--social {
    padding-left: 5.6rem;
  }
}

.footer .newsletter__form .field__input {
  border-color: transparent;
}
.footer .disclosure__button {
  box-shadow: 0 0 0 0.2rem rgb(var(--color-border-input));
}
.footer .disclosure__button:hover:not(:focus) {
  box-shadow: 0 0 0 0.2rem rgb(var(--color-accent));
}
.footer .disclosure__button .icon-caret {
  transform-origin: 50%;
}
.footer .disclosure__button[aria-expanded=true] .icon-caret {
  transform: rotate(180deg) translateY(50%);
}
.footer .newsletter__form .field__input {
  border: 0.2rem solid rgb(var(--color-border-input));
}
.footer.color-inverse .localization-selector + .disclosure__list {
  box-shadow: 0 -1rem 6rem rgba(var(--color-foreground), 0.1);
}
.footer.color-inverse .disclosure__button {
  color: #fff;
  box-shadow: 0 0 0 0.1rem #BFBFBF;
}
.footer.color-inverse .disclosure__link,
.footer.color-inverse .field__input {
  color: #FFFFFF;
}
.footer.color-inverse .field__input::placeholder {
  color: white;
}
.footer.color-inverse .field__input {
  border: 0.1rem solid #fff;
}

[data-scheme=dark] .footer.color-background-1 .disclosure__list, [data-scheme=dark] .footer.color-background-2 .disclosure__list, [data-scheme=dark] .footer.color-background-3 .disclosure__list, [data-scheme=dark] .footer.color-background-4 .disclosure__list, [data-scheme=dark] .footer.color-background-5 .disclosure__list {
  color: #000;
}
[data-scheme=dark] .footer.color-background-1 .field__input::placeholder, [data-scheme=dark] .footer.color-background-2 .field__input::placeholder, [data-scheme=dark] .footer.color-background-3 .field__input::placeholder, [data-scheme=dark] .footer.color-background-4 .field__input::placeholder, [data-scheme=dark] .footer.color-background-5 .field__input::placeholder {
  color: black;
}
[data-scheme=dark] .footer.color-inverse .field__input {
  border: 0.1rem solid rgb(var(--color-border));
}

[data-scheme=light] .footer.color-background-3 .field__input, [data-scheme=light] .footer.color-background-4 .field__input, [data-scheme=light] .footer.color-inverse .field__input {
  color: rgb(var(--color-button-text));
}
[data-scheme=light] .footer.color-background-3 .field__input:hover, [data-scheme=light] .footer.color-background-3 .field__input:focus, [data-scheme=light] .footer.color-background-4 .field__input:hover, [data-scheme=light] .footer.color-background-4 .field__input:focus, [data-scheme=light] .footer.color-inverse .field__input:hover, [data-scheme=light] .footer.color-inverse .field__input:focus {
  border-color: rgb(var(--color-border-input-hover));
}
[data-scheme=light] .footer.color-background-3 .field__label, [data-scheme=light] .footer.color-background-4 .field__label, [data-scheme=light] .footer.color-inverse .field__label {
  color: rgb(var(--color-button-secondary));
}
[data-scheme=light] .footer.color-background-3 .disclosure__link, [data-scheme=light] .footer.color-background-4 .disclosure__link, [data-scheme=light] .footer.color-inverse .disclosure__link {
  color: rgb(var(--color-button-text));
}
[data-scheme=light] .footer.color-background-3 .disclosure__link:hover, [data-scheme=light] .footer.color-background-4 .disclosure__link:hover, [data-scheme=light] .footer.color-inverse .disclosure__link:hover {
  color: rgb(var(--color-accent));
}
[data-scheme=light] .footer.color-background-3 .disclosure__button:hover, [data-scheme=light] .footer.color-background-4 .disclosure__button:hover, [data-scheme=light] .footer.color-inverse .disclosure__button:hover {
  box-shadow: 0 0 0 0.2rem rgb(var(--color-border-input-hover));
}
[data-scheme=light] .footer.color-background-3 .localization-selector.link .label, [data-scheme=light] .footer.color-background-4 .localization-selector.link .label, [data-scheme=light] .footer.color-inverse .localization-selector.link .label {
  color: rgba(var(--color-title-text), 0.6);
}
[data-scheme=light] .footer.color-background-3 .localization-selector.link .value, [data-scheme=light] .footer.color-background-4 .localization-selector.link .value, [data-scheme=light] .footer.color-inverse .localization-selector.link .value {
  color: rgb(var(--color-title-text));
}
[data-scheme=light] .footer.color-background-3 .link-hover-line-outer > span, [data-scheme=light] .footer.color-background-4 .link-hover-line-outer > span, [data-scheme=light] .footer.color-inverse .link-hover-line-outer > span {
  color: rgb(var(--color-title-text));
}
[data-scheme=light] .footer.color-background-3 .link-hover-line-outer > span::after, [data-scheme=light] .footer.color-background-4 .link-hover-line-outer > span::after, [data-scheme=light] .footer.color-inverse .link-hover-line-outer > span::after {
  background-color: rgb(var(--color-title-text));
}

.localization-form__select {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

.footer__column {
  width: 100%;
}

@media screen and (min-width: 990px) {
  .footer__column--localization {
    width: 24rem;
  }
  .footer__column--localization + .footer__column--localization {
    margin-left: 2.4rem;
  }
  .footer__column--localization:last-child {
    margin-right: 0;
  }
  .footer__content-middle-main {
    gap: 3.6rem;
  }
  .footer__content-middle-container {
    padding-block: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__column--localization:last-child {
    margin-left: auto;
  }
}
@media screen and (min-width: 1500px) {
  .footer__column--localization + .footer__column--localization {
    margin-left: 11.5rem;
  }
  .footer__content-middle-main {
    gap: 3rem 5.6rem;
  }
}
.accordion:empty + .footer-block {
  margin-top: 0;
}

.footer .accordion {
  margin-top: 0;
}
.footer .accordion .footer-block__heading {
  padding-block: 0.4rem;
  margin-bottom: 0;
}

@media screen and (min-width: 990px) {
  .footer .footer__column--localization + .newsletter-form {
    margin-left: auto;
  }
}
.footer .newsletter__form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 2.4rem;
  width: 100%;
  max-width: unset;
}
@media screen and (min-width: 750px) {
  .footer .newsletter__form {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 990px) {
  .footer .newsletter__form {
    margin-top: 0;
    width: auto;
  }
}
@media screen and (min-width: 1440px) {
  .footer .newsletter__form {
    margin-left: auto;
  }
}
.footer .newsletter__form .field {
  width: 100%;
  min-height: 5.8rem;
  background-color: rgb(var(--color-background-input));
}
@media screen and (min-width: 990px) {
  .footer .newsletter__form .field {
    width: 24rem;
  }
}
.footer .newsletter__form .field:focus {
  border-color: rgb(var(--color-accent));
}
.footer .newsletter__form .field input {
  padding: 1.6rem 2rem;
}
.footer .newsletter__form .newsletter__title {
  margin: 0;
}
@media screen and (min-width: 750px) {
  .footer .newsletter__form .newsletter__title {
    max-width: 12.1rem;
  }
}
.footer .newsletter__form .newsletter-form {
  width: 100%;
}
@media screen and (min-width: 990px) {
  .footer .newsletter__form .newsletter-form {
    width: auto;
  }
}
.footer .newsletter__form .newsletter-form__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}
@media screen and (min-width: 750px) {
  .footer .newsletter__form .newsletter-form__inner {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .newsletter__form .newsletter-form__inner {
    flex-wrap: nowrap;
  }
}
.footer .newsletter__form .newsletter__button {
  position: static;
  min-width: unset;
  width: 100%;
  min-height: 5.8rem;
}
@media screen and (min-width: 750px) {
  .footer .newsletter__form .newsletter__button {
    min-width: 13rem;
    width: auto;
  }
}
.footer .accordion:not(.footer-block--logo + .accordion):not(.contacts + .accordion) {
  border-top: none;
}
.footer .footer-block--logo + .accordion {
  margin-top: 2.4rem;
}
@media screen and (min-width: 990px) {
  .footer .footer-block--logo + .accordion {
    margin-top: 0;
  }
}

@media screen and (min-width: 990px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
  .footer-block--menu:last-child {
    margin-right: auto;
  }
}
.footer-block:empty {
  display: none;
}

.footer-block__heading {
  margin-top: 0;
  margin-bottom: 30px;
}

.footer__list-social:empty {
  display: none;
}

.footer__list-social .list-social__item--placeholder:not(:only-child) {
  display: none;
}

.footer__list-social.list-social {
  margin-top: -1.2rem;
  margin-left: -1.2rem;
}
.footer__list-social.list-social .list-social__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 990px) {
  .footer__content-middle-container {
    flex-direction: row;
  }
}
.footer__localization {
  display: grid;
  gap: 2rem;
}

localization-form {
  display: block;
}

.localization-form {
  width: 100%;
}

.footer__localization:empty {
  display: none;
}

.localization-form {
  display: flex;
  flex-direction: column;
  flex: auto 1 0;
  margin: 0 auto;
}

.localization-form:only-child {
  display: inline-flex;
  flex-wrap: wrap;
  flex: initial;
}

.footer__localization h2,
.footer__payment h2 {
  margin: 0 0 1.5rem 0;
  color: rgba(var(--color-foreground));
}

@media screen and (max-width: 989px) {
  noscript .localization-form:only-child,
  .footer__localization noscript {
    width: 100%;
  }
}
.localization-form .button {
  padding: 1rem;
}

.localization-form__currency {
  display: inline-block;
}

@media screen and (max-width: 989px) {
  .localization-form .button {
    word-break: break-all;
  }
}
.localization-form__select {
  position: relative;
  box-shadow: 0 0 0 0.1rem transparent;
  padding-left: 1rem;
  text-align: left;
}
.localization-form__select:hover {
  box-shadow: 0 0 0 0.1rem rgb(var(--color-border-input-hover));
}

noscript .localization-form__select {
  padding-left: 0rem;
}

@media screen and (min-width: 990px) {
  noscript .localization-form__select {
    min-width: 20rem;
  }
  noscript .localization-form__select .icon-caret {
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
  }
  noscript .localization-form__select + .button {
    margin-top: 0.8rem;
  }
}
.localization-form__select .icon-caret {
  margin-left: auto;
  height: 2rem;
}

.footer .localization-selector.link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.8rem 2rem;
}
.footer .localization-selector.link .value {
  color: rgb(var(--color-foreground-title));
}
.footer .localization-selector.link .icon-caret {
  color: rgb(var(--color-accent));
}
.footer.color-background-3 .localization-selector.link .icon-caret, .footer.color-background-4 .localization-selector.link .icon-caret {
  color: #303030;
}

noscript [data-scheme=dark] .localization-selector.link option {
  color: #fff;
}

.localization-selector.link .label {
  color: rgb(var(--color-foreground-secondary));
}

noscript .localization-selector.link {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.localization-selector option {
  color: #000000;
}

.localization-selector + .disclosure__list {
  position: absolute;
  bottom: 100%;
  padding: 0.8rem;
  max-width: 22rem;
  min-width: 100%;
  width: max-content;
  min-height: 8.2rem;
  max-height: 19rem;
  background-color: rgb(var(--color-background-input));
  border: none;
  box-shadow: 0 40px 60px rgba(var(--color-foreground), 0.05);
  transform: translateY(-1rem);
  animation: animateLocalization var(--duration-default) ease;
  opacity: 1;
  z-index: 3;
  overflow-y: auto;
}

.localization-form__select:focus {
  box-shadow: 0 0 0 0.2rem rgb(var(--color-accent));
}

@media screen and (min-width: 990px) {
  footer .accordion {
    display: none;
  }
}
@keyframes appear-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer details[open] summary ~ * {
  animation: appear-down var(--duration-default) ease;
}

.footer-block__details-content {
  margin-bottom: 4rem;
}

.footer-block__details-content li:first-child .link {
  padding-top: 3rem;
}

@media screen and (min-width: 990px) {
  .footer-block__details-content {
    margin-bottom: 0;
  }
  .footer-block__details-content li:first-child .link {
    padding-top: 0;
  }
  .footer-block__details-content li:last-child .link {
    padding-bottom: 0;
  }
  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }
  .accordion:first-child + .footer-block:last-child li,
  .footer-block:only-child li {
    display: inline;
  }
}
.footer-block__details-content .list-menu__item--link {
  font-family: var(--font-footer-menu-family);
  font-style: var(--font-footer-menu-style);
  font-weight: var(--font-footer-menu-weight);
  font-size: var(--font-footer-link-size);
  color: rgb(var(--color-foreground-secondary));
  text-decoration: underline;
  text-decoration-color: rgb(var(--color-foreground-secondary));
}

@media screen and (min-width: 990px) {
  .footer-block__details-content .list-menu__item--link,
  .copyright__content a,
  .footer__bottom-menu .list-menu__item {
    position: relative;
    display: inline-flex;
  }
  .footer__column--menu,
  .footer__column--payment {
    width: auto;
  }
  .footer-block__details-content .list-menu__item--link {
    padding-block: 0.4rem;
  }
  .footer-block__details-content .list-menu__item--link:hover,
  .footer__bottom-menu .list-menu__item:hover,
  .copyright__content a:hover {
    color: rgb(var(--color-accent));
    text-decoration-color: rgb(var(--color-accent));
  }
}
@media screen and (min-width: 990px) {
  .footer__column--social {
    width: 13.2rem;
    max-width: 17.6rem;
  }
}
@media screen and (min-width: 990px) {
  .footer-block__details-content .list-menu__item--link {
    display: inline-flex;
  }
  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
    margin-top: 0;
  }
}
.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}

.copyright__content a {
  line-height: 1.5;
  color: rgb(var(--color-foreground-title));
  text-decoration-color: rgb(var(--color-foreground-title));
  transition: color var(--duration-default), text-decoration var(--duration-default);
}

@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-block--logo + .contacts {
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-block:first-child.contacts {
    margin-right: auto;
  }
}
.footer .contacts {
  margin-top: 1.6rem;
}
@media screen and (min-width: 990px) {
  .footer .contacts {
    max-width: 15.6rem;
    margin-top: 0;
  }
}
.footer .contacts__text {
  margin: 0;
  font-size: 1.3rem;
  color: rgb(var(--color-foreground-secondary));
}
.footer .contacts__text + .contacts__info {
  margin-top: 0.8rem;
}
.footer .contacts__info {
  margin: 0;
}
.footer .contacts__info a {
  text-decoration: none;
  color: rgb(var(--color-foreground-title));
  transition: color var(--duration-default);
}
.footer .contacts__info a:hover {
  color: rgb(var(--color-accent));
}

.policies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
  padding-bottom: 3.2rem;
}


.footer__list-social-custom{
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
}

.footer-block__heading{
  color: #000;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.footer__list-social-custom .list-social__link{
  padding: 0;
}

.footer-block__details-content .list-menu__item--link{
     color: #000;
     text-decoration: none;
     color: #000;
      font-family: 'Gilroy';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 0%; /* 0px */
}

.footer-block__details-content .list-menu__item--link:hover{
  color: #FF003D;
}


.footer-block__details-content>p, .footer-block__details-content>li {
  margin-bottom: 10px;
}

.footer__blocks-wrapper .accordion summary {
  align-items: center;
  justify-content: space-between;
}

.footer .contacts__text{
  color: #000000;
}

.footer__content-middle-container{
  border-top: 0;
}

.footer__content-middle{
   border-top: 1px solid rgba(154, 154, 154, 0.3);
}
.footer__column__logo-content{
  flex: 2;
}
 .footer__column--payment{
  flex: 1;
}

.footer__column--payment{
  text-align: right;
}

.footer__payment .list-payment {
  justify-content: end;
}

.footer__column__logo-content>div{
  display: flex;
  align-items: center;
  gap: 36px;
}
.footer__column__logo-content .footer__copyright-text{
  color: #000;
font-family: 'Gilroy';
font-size: 14px;
font-style: normal;
font-weight: 500;
flex: 1;
max-width: 658px;

}

.footer__column__logo-content .footer__copyright-text p{
  margin: 0;
  opacity: 0.3;
}

@media all and (max-width:991px){
  .footer__content-middle-container {
    padding-bottom: 100px;
}

.footer__content-middle-main {
  flex-direction: column;
}

.footer__column__logo-content {
  flex: 2;
  order: 2;
}
.footer__payment .list-payment {
  justify-content: start;
}

}
