.hero-sticky-section {
  position: sticky;
  top: 0;
  z-index: -1;
}

.hero-section__image-wrapper {
  margin-top: 3.2rem;
}

.hero-section__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.hero-section__placeholder {
  width: 80rem;
}