.landing-banner-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
.landing-banner-top h1 {
  font-size: 68px;
}

.landing-banner-top .text {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 895px;
}
.landing-banner-top h1 {
  display: flex;
  max-width: 1353px;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  line-height: 111%;
}

.landing-banner-top h3 {
  margin: 0;
  max-width: 655px;
  flex-shrink: 0;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 111%;
}
.landing-banner-top a {
  display: flex;
  width: 100%;
  max-width: 180px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 84px;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset,
    0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  padding: 15px 0px;
  text-decoration: none;
  transition: all 0.3s linear;
  margin-top: 20px;
}

.landing-banner-bottom {
  margin-top: -35px;
  z-index: 0;
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  
}
.landing-banner-bottom img {
  width: 100%;
  max-width: 1200px;
}
.landing-banner-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 5rem;
  margin-right: 5rem;
}
.landing-banner-hover-text .text {
  max-width: 313.91px;
  position: absolute;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  border-radius: 4px;
  padding: 7px 25px;
}
.landing-banner-hover-text .text:nth-child(1) {
  position: absolute;
  top: 58%;
  left: 0;
  transform: rotate(-15deg);
}
.landing-banner-hover-text .text:nth-child(2) {
  transform: rotate(15deg);
  position: absolute;
  top: 45%;
  left: 78%;
}
.landing-banner-hover-text .text:nth-child(3) {
  width: 252.2px;
  height: 56.05px;
  background-color: #00C172;
  border-radius: 2.67px;
  transform: rotate(-19.3deg);
  font-weight: 400;
  font-size: 12.7px;
  line-height: 17.78px;
}
.landing-banner-hover-text .text:nth-child(4) {
  position: absolute;
  top: 65%;
  left: 25%;
  transform: rotate(15deg);
}
.landing-banner-hover-text .text:nth-child(5) {
  transform: rotate(30deg);
  position: absolute;
  width: 242.2px;
  height: 56.05px;
  background-color: #04217E;
  left: 80%;
}
@media all and (max-width: 1440px) {
  .landing-banner-hover-text {
    margin-left: 0;
  }
}
@media all and (max-width: 768px) {
  .landing-banner-top h1 {
    font-size: 40px;
  }
  .landing-banner-top .text {
    font-size: 14px;
  }
  .landing-banner-top h3 {
    font-size: 16px;
    margin: 0;
  }
  .landing-banner-top a {
    font-size: 14px;
    padding: 15px 0;
    max-width: 130px;
  }
  .landing-banner-bottom {
    margin-top: -13px;
    flex-direction: column;
  }
  .landing-banner-bottom img {
    object-fit: contain;
    height: 100%;
  }
  .landing-banner-hover-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: static;
    align-items: center;
  }
  .landing-banner-hover-text .text {
    font-size: 14px;
    position: static;
  }
  .landing-banner-hover-text .text:nth-child(1) {
    transform: rotate(0);
  }
}
