.product-collection-wrapper h3 {
  color: #cceef2;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  margin: 0;
  margin-bottom: 60px;
}
.pc_details_slide {
  height: unset;
}
.pc_details_item {
  height: 100%;
}
.pc_img_swiper {
  overflow: visible;
  position: static;
}
.pc_swiper_img_container {
  overflow: hidden;
  padding: 60px 60px 60px;
}
.pc_item_img {
  transition: all 0.5s;
  transform: scale(1);
  padding-bottom: 100%;
  position: relative;
}
.pc_item_img:before {
  content: "";
  background: #00c172;
  border-radius: 50%;
  height: 113%;
  top: 0;
  left: -31px;
  right: 0;
  position: absolute;
  width: 128%;
  z-index: 1;
}
.pc_item_img:after {
  content: "";
  border-radius: 397px;
  background: radial-gradient(50% 50% at 50% 50%, #020255 0%, #252489 100%);
  width: 148%;
  position: absolute;
  width: 116%;
  bottom: -50px;
  height: 44%;
  left: -22px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.pc_item_img img {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  object-fit: contain;
  left: 0;
  top: 0;
}
.swiper-slide-active .pc_item_img {
  transform: scale(1.3);
}
.product-collection-wrapper {
  margin: 0 auto;
  padding: 0 120px;
  position: relative;
}
.pc_swiper_navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 20px;
}
.pc_swiper_navigation > * {
  cursor: pointer;
  width: auto;
  height: auto;
  background-color: transparent;
}
.pc_swiper_navigation svg{
  width: 50px;
  height: 50px;
}

.pc_details_item {
  display: flex;
  justify-content: space-between;
}
.pc_sm_text {
  color: #00c172;
  font-size: 13.636px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4px;
}
.pc_details_item_left h4 {
  margin: 0;
  color: #00c172;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}
.pc_price {
  color: #00c172;
  font-size: 22.727px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 23px;
}
.pc_btn {
  display: flex;
}

.pc_btn .loading-overlay__spinner {
  position: static;
  transform: unset;
}
.pc_btn a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 64px;
  background: #00c172;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset,
    0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  padding: 14px 18px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  max-width: 205px;
}
.pc_btn button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 64px;
  background-color: #00c172;
  box-shadow: 0 -1px #0003 inset, 0 1px #fff3 inset;
  padding: 14px 18px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  max-width: 205px;
  border: none;
  outline: 0;
  cursor: pointer;
}
.pc_btn product-form {
  width: 100%;
  display: flex;
  max-width: 241px;
}
.pc_btn product-form form {
  width: 100%;
}
.pc_btn a span {
  display: flex;
}
.pc_btn button span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  letter-spacing: inherit;
}

.pc_details_item{
  gap: 20px;
}
.pc_details_item_left{
  max-width: 300px;
  flex: 0 0 35%;
}
.pc_details_item_right {
  max-width: 715px;
}
.pc_details_item_right .text {
  color: #00c172;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  max-height: 400px;
  overflow-y: auto;
}



.pc_swiper_details_container {
  margin-top: 60px;
}
.pc_hidden {
  display: none;
}
@media only screen and (max-width: 1440px) {


  .pc_swiper_img_container {
    padding: 75px 36px 160px;
  }
  .pc_swiper_details_container {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1280px) {
 
  .pc_swiper_img_container {
    padding: 75px 36px 96px;
  }
}
@media only screen and (max-width: 1024px) {

  .pc_item_img:before{
    content: none;
  }
  .pc_item_img:after{
    content: none;
  }
}


@media only screen and (max-width: 991px) {
  .pc_swiper_navigation {
    padding: 0;
}

  .pc_item_img {
    padding-bottom: 76%;
}
  .product-collection-wrapper h3 {
    margin: 0 0 30px;
    font-size: 32px;
  }
  .product-collection-wrapper {
    padding: 0;
  }
  .pc_details_item {
    flex-direction: column;
    gap: 23px;
  }
  .pc_details_item {
    align-items: center;
  }
  .pc_swiper_details_container {
    margin-top: 30px;
  }
  .swiper-slide-active .pc_item_img {
    transform: scale(1);
  }
  .pc_swiper_img_container {
    padding: 0;
  }

  .pc_details_item_left h4 {
    font-size: 24px;
    margin-bottom: 10px;
}
}


