.alternative-blog .page-header {
  margin-top: 0.8rem;
  margin-bottom: 4rem;
}

.blog-articles {
  display: grid;
  gap: 0.8rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 576px) {
  .blog-articles {
    gap: 0.8rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1360px) {
  .blog-articles {
    grid-template-columns: repeat(4, 1fr);
  }
}