.countdown {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  text-align: center;
}
@media (min-width: 1200px) {
  .countdown {
    align-items: flex-end;
  }
}
.countdown__bg, .countdown__placeholder {
  position: absolute;
  inset: 0;
}
.countdown__bg img,
.countdown__bg svg, .countdown__placeholder img,
.countdown__placeholder svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.countdown__placeholder {
  background-color: rgb(var(--color-overlay), 0.7);
}
.countdown__placeholder svg {
  fill: rgb(255, 255, 255);
}
.countdown__bg-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.countdown__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
  z-index: 2;
}
@media (min-width: 1200px) {
  .countdown__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.countdown__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 4rem 2rem;
  background-color: rgb(var(--color-base-background-2));
  border-radius: var(--border-radius-button);
  text-align: left;
}
@media (min-width: 750px) {
  .countdown__content {
    padding: 4rem 2rem;
  }
}
@media (min-width: 1200px) {
  .countdown__content {
    width: calc(25.12% - 0.4rem);
  }
}
@media (min-width: 1600px) {
  .countdown__content {
    padding: 4rem 5rem;
  }
}
.countdown__heading {
  margin: 0;
  color: rgb(var(--color-foreground-title));
  letter-spacing: -0.02em;
  line-height: 1.1;
}
@media (min-width: 1200px) {
  .countdown__heading {
    max-width: 25rem;
  }
}
.countdown__text {
  font-size: 1.3rem;
  line-height: 1.3;
  color: rgb(var(--color-foreground-title));
  margin-top: 0.6rem;
}
@media (min-width: 750px) {
  .countdown__text {
    font-size: 1.6rem;
  }
}
.countdown__button {
  min-width: 12.4rem;
  margin-top: 2.4rem;
}
.countdown__header {
  margin: 0 0 2.4rem;
}
@media (min-width: 750px) {
  .countdown__header {
    margin: 0 0 4.8rem;
  }
}
.countdown__main {
  display: inline-flex;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
}
@media (min-width: 1200px) {
  .countdown__main {
    width: calc(74.88% - 0.4rem);
  }
}
.countdown__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: calc(25% - 0.5333333333rem);
  min-height: 10rem;
  padding: 3rem 1rem;
  background-color: rgb(var(--color-base-background-2));
  border-radius: var(--border-radius-button);
}
@media (min-width: 576px) {
  .countdown__block {
    min-height: 15rem;
  }
}
@media (min-width: 990px) {
  .countdown__block {
    padding: 2rem 1rem;
    min-height: 25.2rem;
  }
}
.countdown__block_num {
  white-space: nowrap;
  padding: 1rem 0.5rem;
}
@media (min-width: 750px) {
  .countdown__block_num {
    padding: 1rem 3rem;
  }
}
@media (min-width: 1200px) {
  .countdown__block_num {
    padding: 5.8rem 5rem;
  }
}
.countdown .countdown_block_days,
.countdown .countdown_block_hours,
.countdown .countdown_block_minutes,
.countdown .countdown_block_seconds {
  margin: 0;
  font-feature-settings: "tnum" on, "lnum" on;
  color: rgb(var(--color-foreground-title));
}
.countdown .countdown_block_description {
  margin: 0.2rem 0 0;
  font-size: 1rem;
  letter-spacing: -0.02em;
  color: rgb(var(--color-foreground-title));
}
@media (min-width: 576px) {
  .countdown .countdown_block_description {
    margin: 0.8rem 0 0;
    font-size: 1.3rem;
  }
}
.countdown__header-title {
  margin: 0;
}
.countdown__end-info {
  display: none;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 4rem 2rem;
  background-color: rgb(var(--color-base-background-2));
  border-radius: var(--border-radius-button);
}
@media (min-width: 1200px) {
  .countdown__end-info {
    width: auto;
    text-align: center;
  }
}
.countdown__end-info h3,
.countdown__end-info p {
  margin: 0;
  color: rgb(var(--color-foreground-title));
}
@media (min-width: 1200px) {
  .countdown__end-info-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.countdown .italic {
  font-style: italic;
  position: relative;
  font-feature-settings: "tnum" on, "lnum" on;
}
@media (min-width: 750px) {
  .countdown--overlay {
    min-height: 40rem;
  }
}
@media (min-width: 990px) {
  .countdown--overlay {
    min-height: 55rem;
  }
}
@media (min-width: 1200px) {
  .countdown--overlay {
    min-height: 60rem;
  }
}
@media (min-width: 1600px) {
  .countdown--overlay {
    min-height: 70rem;
  }
}
.countdown--overlay .countdown_block_days,
.countdown--overlay .countdown_block_hours,
.countdown--overlay .countdown_block_minutes,
.countdown--overlay .countdown_block_seconds {
  color: rgb(255, 255, 255);
}
.countdown--overlay .countdown_block_description {
  color: rgb(255, 255, 255);
}
.countdown--overlay .countdown__wrapper {
  gap: 3rem;
}
@media (min-width: 990px) {
  .countdown--overlay .countdown__wrapper {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .countdown--overlay .countdown__wrapper {
    padding-left: 5.7rem;
    gap: 5.7rem;
  }
}
.countdown--overlay .countdown__content {
  padding: 0;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .countdown--overlay .countdown__content {
    max-width: 28.8rem;
  }
}
.countdown--overlay .countdown__main {
  width: auto;
}
.countdown--overlay .countdown__block {
  width: 25%;
  background-color: rgba(4, 4, 4, 0.6);
  flex-grow: unset;
}
@media (min-width: 990px) {
  .countdown--overlay .countdown__block {
    min-height: 20rem;
  }
}
@media (min-width: 1200px) {
  .countdown--overlay .countdown__block {
    width: 18.7rem;
  }
}
.countdown--overlay .countdown__block_num {
  padding: 0;
}
.countdown--overlay .countdown__heading {
  color: rgb(255, 255, 255);
}
.countdown--overlay .countdown__text {
  color: rgba(255, 255, 255, 0.6);
}
.countdown--overlay .countdown__end-info {
  padding: 0;
  background-color: transparent;
}
.countdown--overlay .countdown__end-info h3,
.countdown--overlay .countdown__end-info p {
  color: rgb(255, 255, 255);
}